<div id="bluesky-comments"></div>

<script type="module">
    import { lazy, createElement } from 'react';
    import { createRoot } from 'react-dom/client';
    import { BlueskyComments } from 'https://unpkg.com/bluesky-comments@0.9.0/dist/bluesky-comments.es.js';
  
    const author = 'testamentenjoyment.bsky.social';
    const container = document.getElementById('bluesky-comments');
    const root = createRoot(container);
    root.render(
      createElement(BlueskyComments, {
        "author": author,
        "uri": '{{ .Params.blueskyPostUri }}'
      })
    );
</script>